<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        
        
        <link rel="shortcut icon" href="../../img/favicon.ico">
        <title>Profile - Web-Labs</title>
        <link href="../../css/bootstrap.min.css" rel="stylesheet">
        <link href="../../css/font-awesome.min.css" rel="stylesheet">
        <link href="../../css/base.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/github.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
        <script>hljs.highlightAll();</script> 
    </head>

    <body>
        <div class="navbar fixed-top navbar-expand-lg navbar-dark bg-primary">
            <div class="container">
                <a class="navbar-brand" href="../..">Web-Labs</a>
                <!-- Expander button -->
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <!-- Expanded navigation -->
                <div id="navbar-collapse" class="navbar-collapse collapse">
                        <!-- Main navigation -->
                        <ul class="nav navbar-nav">
                            <li class="navitem">
                                <a href="../.." class="nav-link">Home</a>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Lab 2 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../../Lab2/overview/" class="dropdown-item">Overview</a>
</li>
                                    
<li>
    <a href="../../Lab2/models/" class="dropdown-item">Models</a>
</li>
                                    
<li>
    <a href="../../Lab2/views/" class="dropdown-item">Views</a>
</li>
                                    
<li>
    <a href="../../Lab2/urls/" class="dropdown-item">Urls</a>
</li>
                                    
<li>
    <a href="../../Lab2/forms/" class="dropdown-item">Forms</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Lab 3 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
  <li class="dropdown-submenu">
    <a href="#" class="dropdown-item">Practice</a>
    <ul class="dropdown-menu">
            
<li>
    <a href="../../Lab3/prac3/overview/" class="dropdown-item">Overview</a>
</li>
    </ul>
  </li>
                                    
<li>
    <a href="../../Lab3/overview/" class="dropdown-item">Overview</a>
</li>
                                    
<li>
    <a href="../../Lab3/models/" class="dropdown-item">Models</a>
</li>
                                    
<li>
    <a href="../../Lab3/serializers/" class="dropdown-item">Serializers</a>
</li>
                                    
<li>
    <a href="../../Lab3/views/" class="dropdown-item">Views</a>
</li>
                                </ul>
                            </li>
                            <li class="dropdown active">
                                <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Lab 4 <b class="caret"></b></a>
                                <ul class="dropdown-menu">
                                    
<li>
    <a href="../overview/" class="dropdown-item">Overview</a>
</li>
                                    
<li>
    <a href="../mainjs/" class="dropdown-item">Main.js</a>
</li>
                                    
<li>
    <a href="../login/" class="dropdown-item">Login</a>
</li>
                                    
<li>
    <a href="../register/" class="dropdown-item">Register</a>
</li>
                                    
<li>
    <a href="./" class="dropdown-item active">Profile</a>
</li>
                                    
<li>
    <a href="../navbar/" class="dropdown-item">Navbar</a>
</li>
                                    
<li>
    <a href="../home/" class="dropdown-item">Home</a>
</li>
                                    
<li>
    <a href="../brokers/" class="dropdown-item">Brokers</a>
</li>
                                    
<li>
    <a href="../producers/" class="dropdown-item">Producers</a>
</li>
                                    
<li>
    <a href="../products/" class="dropdown-item">Products</a>
</li>
                                    
<li>
    <a href="../consignments/" class="dropdown-item">Consignments</a>
</li>
                                </ul>
                            </li>
                        </ul>

                    <ul class="nav navbar-nav ml-auto">
                        <li class="nav-item">
                            <a href="#" class="nav-link" data-toggle="modal" data-target="#mkdocs_search_modal">
                                <i class="fa fa-search"></i> Search
                            </a>
                        </li>
                            <li class="nav-item">
                                <a rel="prev" href="../register/" class="nav-link">
                                    <i class="fa fa-arrow-left"></i> Previous
                                </a>
                            </li>
                            <li class="nav-item">
                                <a rel="next" href="../navbar/" class="nav-link">
                                    Next <i class="fa fa-arrow-right"></i>
                                </a>
                            </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                    <div class="col-md-3"><div class="navbar-light navbar-expand-md bs-sidebar hidden-print affix" role="complementary">
    <div class="navbar-header">
        <button type="button" class="navbar-toggler collapsed" data-toggle="collapse" data-target="#toc-collapse" title="Table of Contents">
            <span class="fa fa-angle-down"></span>
        </button>
    </div>

    
    <div id="toc-collapse" class="navbar-collapse collapse card bg-secondary">
        <ul class="nav flex-column">
            
            <li class="nav-item" data-level="1"><a href="#profilevue" class="nav-link">Profile.vue</a>
              <ul class="nav flex-column">
            <li class="nav-item" data-level="2"><a href="#profile-component" class="nav-link">Profile Component</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#profile-component-script" class="nav-link">Profile Component Script</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#profile-component-styles" class="nav-link">Profile Component Styles</a>
              <ul class="nav flex-column">
              </ul>
            </li>
            <li class="nav-item" data-level="2"><a href="#please-feel-free-to-review-navbarvue-component-next" class="nav-link">Please, feel free to review Navbar.vue component next</a>
              <ul class="nav flex-column">
              </ul>
            </li>
              </ul>
            </li>
        </ul>
    </div>
</div></div>
                    <div class="col-md-9" role="main">

<h1 id="profilevue">Profile.vue</h1>
<h2 id="profile-component">Profile Component</h2>
<pre><code class="language-html">&lt;template&gt;
  &lt;div class=&quot;container&quot;&gt;
    &lt;div class=&quot;profile-info&quot;&gt;
      &lt;h2&gt;Profile&lt;/h2&gt;
      &lt;div class=&quot;info-item&quot;&gt;&lt;strong&gt;Login:&lt;/strong&gt; {{ userData.username }}&lt;/div&gt;
      &lt;div class=&quot;info-item&quot;&gt;&lt;strong&gt;Email:&lt;/strong&gt; {{ userData.email }}&lt;/div&gt;
    &lt;/div&gt;

    &lt;div class=&quot;profile-settings&quot;&gt;
      &lt;div class=&quot;settings-panel&quot;&gt;
        &lt;button @click=&quot;toggleSettingsPanel&quot;&gt;Change User Data&lt;/button&gt;

        &lt;div v-show=&quot;showSettingsPanel&quot; class=&quot;settings-dropdown&quot;&gt;
          &lt;button @click=&quot;toggleChangeUsernameForm&quot;&gt;Change Username&lt;/button&gt;
          &lt;button @click=&quot;toggleChangePasswordForm&quot;&gt;Change Password&lt;/button&gt;
        &lt;/div&gt;
      &lt;/div&gt;

      &lt;div v-if=&quot;showChangePasswordForm&quot; class=&quot;change-form&quot;&gt;
        &lt;form @submit.prevent=&quot;changePassword&quot; class=&quot;form&quot;&gt;
          &lt;label for=&quot;currentPassword&quot;&gt;Current Password:&lt;/label&gt;
          &lt;input type=&quot;password&quot; v-model=&quot;currentPassword&quot; required /&gt;

          &lt;label for=&quot;newPassword&quot;&gt;New Password:&lt;/label&gt;
          &lt;input type=&quot;password&quot; v-model=&quot;newPassword&quot; required /&gt;

          &lt;button type=&quot;submit&quot;&gt;Change Password&lt;/button&gt;
        &lt;/form&gt;
      &lt;/div&gt;

      &lt;div v-if=&quot;showChangeUsernameForm&quot; class=&quot;change-form&quot;&gt;
        &lt;form @submit.prevent=&quot;changeUsername&quot; class=&quot;form&quot;&gt;
          &lt;label for=&quot;currentPassword&quot;&gt;Current Password:&lt;/label&gt;
          &lt;input type=&quot;password&quot; v-model=&quot;currentPassword&quot; required /&gt;

          &lt;label for=&quot;newUsername&quot;&gt;New Username:&lt;/label&gt;
          &lt;input type=&quot;text&quot; v-model=&quot;newUsername&quot; required /&gt;

          &lt;button type=&quot;submit&quot;&gt;Change Username&lt;/button&gt;
        &lt;/form&gt;
      &lt;/div&gt;
    &lt;/div&gt;
  &lt;/div&gt;
&lt;/template&gt;
</code></pre>
<ul>
<li><strong>Description</strong>: Vue template for the profile component. Displays user information and provides options to change username and password.</li>
</ul>
<h2 id="profile-component-script">Profile Component Script</h2>
<pre><code class="language-html">&lt;script&gt;
import axios from 'axios';

export default {
  data() {
    return {
      showChangePasswordForm: false,
      showChangeUsernameForm: false,
      showSettingsPanel: false,
      currentPassword: '',
      newPassword: '',
      newUsername: '',
      userData: {},
    };
  },
  mounted() {
    this.fetchUserData();
  },
  methods: {
    async fetchUserData() {
      console.log('Fetching user data...');

      try {
        const response = await axios.get('/auth/users/me/', {
          headers: {
            'Authorization': `Token ${localStorage.getItem('access_token')}`,
          },
        });
        this.userData = response.data;
        console.log('User data:', this.userData);
      } catch (error) {
        console.error('Error fetching user data:', error.response.data);
      }
    },
    async changePassword() {
      try {
        const response = await axios.post('/auth/users/set_password/', {
          new_password: this.newPassword,
          current_password: this.currentPassword,
        }, {
          headers: {
            'Authorization': `Token ${localStorage.getItem('access_token')}`,
          },
        });

        console.log('Password changed successfully:', response.data);
        this.showChangePasswordForm = false;
      } catch (error) {
        console.error('Password change failed:', error.response.data);
      }
    },
    async changeUsername() {
      try {
        const response = await axios.post('/auth/users/set_username/', {
          current_password: this.currentPassword,
          new_username: this.newUsername,
        }, {
          headers: {
            'Authorization': `Token ${localStorage.getItem('access_token')}`,
          },
        });

        console.log('Username changed successfully:', response.data);
        this.showChangeUsernameForm = false;
      } catch (error) {
        console.error('Username change failed:', error.response.data);
      }
    },
    toggleSettingsPanel() {
      this.showSettingsPanel = !this.showSettingsPanel;
    },
    toggleChangePasswordForm() {
      this.showChangePasswordForm = !this.showChangePasswordForm;
    },
    toggleChangeUsernameForm() {
      this.showChangeUsernameForm = !this.showChangeUsernameForm;
    },
  },
};
&lt;/script&gt;
</code></pre>
<ul>
<li><strong>Description</strong>: Vue script for the profile component. Fetches user data, provides methods to change password and username, and handles the display of change forms.</li>
</ul>
<h2 id="profile-component-styles">Profile Component Styles</h2>
<pre><code class="language-html">&lt;style scoped&gt;
.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.profile-info {
  margin-bottom: 20px;
}

.info-item {
  margin-bottom: 10px;
}

.profile-settings {
  border-top: 1px solid #ddd;
  padding-top: 20px;
}

.settings-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.settings-dropdown {
  display: flex;
  flex-direction: column;
  align-items: center;
</code></pre>
<h2 id="please-feel-free-to-review-navbarvue-component-next">Please, feel free to review <a href="../navbar/">Navbar.vue component</a> next</h2></div>
            </div>
        </div>

        <footer class="col-md-12">
            <hr>
            <p>Documentation built with <a href="https://www.mkdocs.org/">MkDocs</a>.</p>
        </footer>
        <script src="../../js/jquery-3.6.0.min.js"></script>
        <script src="../../js/bootstrap.min.js"></script>
        <script>
            var base_url = "../..",
                shortcuts = {"help": 191, "next": 78, "previous": 80, "search": 83};
        </script>
        <script src="../../js/base.js"></script>
        <script src="../../search/main.js"></script>

        <div class="modal" id="mkdocs_search_modal" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="searchModalLabel">Search</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
                <p>From here you can search these documents. Enter your search terms below.</p>
                <form>
                    <div class="form-group">
                        <input type="search" class="form-control" placeholder="Search..." id="mkdocs-search-query" title="Type search term here">
                    </div>
                </form>
                <div id="mkdocs-search-results" data-no-results-text="No results found"></div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div><div class="modal" id="mkdocs_keyboard_modal" tabindex="-1" role="dialog" aria-labelledby="keyboardModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="keyboardModalLabel">Keyboard Shortcuts</h4>
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            </div>
            <div class="modal-body">
              <table class="table">
                <thead>
                  <tr>
                    <th style="width: 20%;">Keys</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td class="help shortcut"><kbd>?</kbd></td>
                    <td>Open this help</td>
                  </tr>
                  <tr>
                    <td class="next shortcut"><kbd>n</kbd></td>
                    <td>Next page</td>
                  </tr>
                  <tr>
                    <td class="prev shortcut"><kbd>p</kbd></td>
                    <td>Previous page</td>
                  </tr>
                  <tr>
                    <td class="search shortcut"><kbd>s</kbd></td>
                    <td>Search</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>

    </body>
</html>
